.gatsby-highlight-code-line {
    background-color: #feb;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #f99;
    white-space: pre-wrap;

  }

  .gatsby-highlight {
    background-color: #fdf6e3;
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 1em;
    overflow: auto;
    white-space: pre-wrap;

  }
  
  /**
   * Remove the default PrismJS theme background-color, border-radius, margin,
   * padding and overflow.
   * 1. Make the element just wide enough to fit its content.
   * 2. Always fill the visible space in .gatsby-highlight.
   * 3. Adjust the position of the line numbers
   */
  .gatsby-highlight pre[class*="language-"] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left; /* 1 */
    min-width: 100%; /* 2 */
    white-space: pre-wrap;
    font-size:13px;

  }
  body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  p{
    font-size: 15px;
  }
  code{
    background: rgba(0,0,0,.05);
    padding: 3px 4px;
    margin: 0 2px;
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
    font-size: 13px;

  }
  
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  @media only screen and (min-width: 930px) {
    div.row > div.col-md-1{
      width: 8.33333333%;
      float: left;
  }
  div.row > div.col-md-2{
    width: 16.66666667%;float: left;
  }
  div.row > div.col-md-3{
    width: 25%;float: left;
  }
  div.row > div.col-md-4{
    width: 33.33333333%;float: left;
  }
  div.row > div.col-md-5{
    width: 41.66666667%;float: left;
  }
  div.row > div.col-md-6{
        width: 50%;float: left;
  }
  div.row > div.col-md-7{
    width: 58.33333333%;float: left;
  }
  div.row > div.col-md-8{
    width: 66.66666667%;float: left;
  }
  div.row > div.col-md-9{
    width: 75%;float: left;
  }
  div.row > div.col-md-10{
    width: 5083.33333333%;float: left;
  }
  div.row > div.col-md-11{
    width: 91.66666667%;float: left;
  }
    div.row > div.col-md-12{
      width: 100%;float: left;
  }
  }
  div.row > div[class*="col-md-"] {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
/* }
div.row > div.col-md-2{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-3{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-4{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-5{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-6{
      position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-7{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-8{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-9{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-10{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.row > div.col-md-11{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
  div.row > div.col-md-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} */